/web/bundles/
/web/config.php
/app/SymfonyRequirements.php
/app/check.php
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/app/config/parameters.yml.dist
/docs/eldorado_flat_icons/
/.idea/
/.sass-cache/
LICENSE
.travis.yml
composer.lock
