{% extends "FrontBundle:Layouts:stylesAndLibs.html.twig" %}
{% block headlinks %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/ui/jquery-ui-1.10.3.custom.min.css">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
        <div class="col2">
            {{ include("FrontBundle:Layouts:side-nav.html.twig") }}

        </div>
        <div class="col10">
                <form action="" method="post" id="quick_search_form">
                    <input type="text" name="quick_search" id="quick_search" placeholder="recherche rapide"> <input type="submit" value="GO" class="btn bnt-simple rounded">
                </form>
        </div>
    </div>

        <div class="row">
            <div class="col2">

                <ul class="side-nav">
                    <li><a href="{{ path("front_animal_homepage") }}">Liste des animaux</a></li>
                    <li><a href="">Liste des espèces</a></li>
                </ul>

            </div>
            <div class="col10">

            </div>
        </div>
    </div>



{% endblock %}

{% block footscripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/vendor/jQuery/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/js/vendor/jQuery/i18n/jquery.ui.datepicker-fr.js"></script>
    <script type="text/javascript">
        $(function(){
            $.datepicker.setDefaults( $.datepicker.regional[ "fr" ] );
            $("#date").datepicker();
        });
    </script>
{% endblock %}
