{% extends "AdminBundle:Layouts:master.html.twig" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col2">
            {{ include("AdminBundle:Layouts:side-nav.html.twig") }}

        </div>
        <div class="col10">
            <h1>Administration</h1>

        </div>
    </div>
</div>
{% endblock %}
