<div class="top-nav-bar">
    <div class="container">
        <div class="nav-bar-inner row">
            <div class="nav-button">
                <div class="barrette"></div>
                <div class="barrette"></div>
                <div class="barrette"></div>
            </div>
            <div class="col">
                <a class="title" href="">Secteur Eléphant</a>
            </div>
            <div class="navigation">
                <div class="col">
                    <ul class="nav">
                        <li><a href="">Journal</a></li>
                        <li><a href="">Animaux</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
